$font-color: #334455;
$accent-color-primary: #daf2e9;

$media-breakpoint-sm: 768px;
$media-breakpoint-md: 1024px;
$media-breakpoint-lg: 1600px;

$font-primary: 'Fira Sans', sans-serif;
$font-primary-mono: 'Fira Mono', sans-serif;

body,
html
{
    font-family: $font-primary;
    font-size: 16px;
    line-height: 1.35rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 8.5in;
    margin: 0 auto;
    padding-top: 2px;
    background-color: white;
}

code,
.mono-type
{
    font-family: $font-primary-mono;
    font-size: 13px;
    line-height: 14px;
}

a:link, a:visited
{
    color: $font-color;
}

em
{
    font-style: normal;
    display: inline-block;

    &::first-letter
    {
        font-size: 120%;
    }
}

h1
{
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom: 0;
    color: $font-color;
}

h2
{
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 0;
    color: $font-color;
}

h3
{
    padding: 0;
    margin: 0;
}

h4
{
    font-weight: 400;
    color: $font-color;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    line-height: 0.8rem;
}

h5
{
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

p
{
    padding: 0 0 0.5rem 0;
    margin: 0;
}

small
{
    font-size: 0.5em;
}

section
{
    padding-top: 1rem;
    margin-bottom: 0.4rem;
    border-bottom: rgba(51, 68, 85, 0.4) solid 1px;
}

.d-print
{
    display: none;
}

.App
{
    max-width: $media-breakpoint-lg;
    margin: auto;
    display: grid;
    grid-template-areas:
        'bio'
        'sidebar'
        'experience';
    column-gap: 1.8rem;
    padding: 0 1rem 1rem;
}

.grid-area-sidebar
{
    grid-area: sidebar;
    
    .company-logo
    {
        width: 40px;
        height: 40px;
    }
}

@media print
{
    .App
    {
        grid-template-areas:
        'sidebar bio'
        'sidebar experience';
    }

    .grid-area-sidebar
    {
        width: 2.5in;
    }

    p {
        font-size: 0.75rem;
        line-height: 1.1rem;
    }

    h1
    {
        margin-top: 0;

        > span { font-size: 2.1rem; }
    }

    .print-widow
    {
        page-break-before: always;
    }

    .d-print
    {
        display: inline-block;
    }

    .d-print-none
    {
        display: none !important;
    }

    .print-t-0
    {
        padding-top: 0;
    }
}


@media (min-width: $media-breakpoint-md)
{
    .App
    {
        grid-template-areas:
        'sidebar bio'
        'sidebar experience';
    }

    .grid-area-sidebar
    {
        width: 2.55in;
    }
}

.grid-area-bio
{
    grid-area: bio;
}

.grid-area-experience
{
    grid-area: experience;
}

.skills-list
{
    padding: 0;
    margin: 0 0 0.75rem 0;
    list-style: none;

    > li
    {
        display: inline-block;
        background-color: $accent-color-primary;
        border-radius: 0.3rem;
        padding: 0 0.2rem;
        margin: 0 0.2rem;
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-family: $font-primary-mono;
    }
}

/** Just in case crawlers are looking out for d-none **/
.no-spam
{
    display: none;
}

#AH
{
    float: left;
    width: 72px;
    height: 100%;
}

.company-logo
{
    float: right;
    width: 50px;
    height: 50px;
    display: block;
    margin-left: 0.5rem;
    
    > .company-logo_img
    {
        width: 100%;
        height: 100%;
    }
}

.work-details
{
    margin-top: 0.4rem;
}

.flex
{
    display: flex;
}

.justify-between
{
    justify-content: space-between;
}

.gap-4
{
    gap: 1rem;
}
