body,
html
{
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 1.35rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 8.5in;
  margin: 0 auto;
  padding-top: 2px;
  background-color: white;
}

code,
.mono-type
{
  font-family: 'Fira Mono', sans-serif;
  font-size: 13px;
  line-height: 14px;
}